.modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal .show{
    opacity: 1;
    pointer-events: visible;
}
.modal_content{
    width: 70%;
    height: 70vh;
    background: white;
    border-radius: 10px;
}

.modal_header{
    width: 100%;
    height: 5vh;
    border: 1px solid red;
    display: flex;
    justify-content: end;
}
.modal_header button{
    width: 10%;
}

.modal_body{
    width: 100%;
    height: 60vh;
    border: 1px solid red;
}